{
  "module": {
    "type": "es6",
    "ignoreDynamic": true
  },
  "jsc": {
    "loose": true,
    "target": "es2016",
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "refresh": true
      }
    }
  }
}
