#background {
    z-index: -9;
    margin: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // background-color: red;
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}