@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/elevation/mdc-elevation";
@use "@material/icon-button";

#toolbar {
  @include top-app-bar.fill-color($color:rgba($color: #000, $alpha: 0.3));
  @include icon-button.core-styles;
  @extend .mdc-elevation--z4;
  top: 0px;
  left: 0px;
  right: 0px;
}